/* Adjust width and margins for responsiveness */
.our-works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; /* Adjust margin to create space between items */
}

.single-our-work {
    flex: 0 0 calc(33.33% - 20px); /* Three images in a row with margin */
    margin: 10px;
    text-align: center;
}

.single-our-work img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.single-our-work h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
